/*<------------------------------------------------------------------------>
<------------------                $base                   ------------------>
<------------------------------------------------------------------------->*/

@font-face 
{
    font-family: 'RobotoRegular';
    src: url('font/roboto_regular_macroman/Roboto-Regular-webfont.eot');
    src: url('font/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/roboto_regular_macroman/Roboto-Regular-webfont.woff2') format('woff2'),
         url('font/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'),
         url('font/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'),
         url('font/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
	font-family: 'RobotoThin';
    src: url('font/roboto_thin_regular/Roboto-Thin-webfont.eot');
    src: url('font/roboto_thin_regular/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/roboto_thin_regular/Roboto-Thin-webfont.woff2') format('woff2'),
         url('font/roboto_thin_regular/Roboto-Thin-webfont.woff') format('woff'),
         url('font/roboto_thin_regular/Roboto-Thin-webfont.ttf') format('truetype'),
         url('font/roboto_thin_regular/Roboto-Thin-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DiscoRegular';
    src: url('font/disco_regular_macroman/DISCO___-webfont.eot');
    src: url('font/disco_regular_macroman/DISCO___-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/disco_regular_macroman/DISCO___-webfont.woff2') format('woff2'),
         url('font/disco_regular_macroman/DISCO___-webfont.woff') format('woff'),
         url('font/disco_regular_macroman/DISCO___-webfont.ttf') format('truetype'),
         url('font/disco_regular_macroman/DISCO___-webfont.svg#discoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
	font-family: RobotoRegular, Arial, sans-serif;
	margin: 0;
	background-color: #EFEBE9;
	color: #37474F;
	display: flex;
}
aside {
	width:33.3333333334%;
	background-color: #29B6F6;
	display:flex;
	flex-direction: column;
}
a{ color: #37474F; }
a:hover
{
	font-weight: bold;
	font-size: 1.35vw;
}
section{width: 100%;}

h1,h2,h3 {
	font-family: RobotoThin, Arial, sans-serif;
}

strong { color:  #29B6F6; }
mark {
	background-color: #EFEBE9;
	border-bottom: 1px #29B6F6 solid;
}
img {
	width: 100%;
	height:auto;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
ul {	
	list-style: none; 
	padding: 0;
}
/*<------------------------------------------------------------------------>
<------------------                $layout                   ------------------>
<------------------------------------------------------------------------->*/
.l-list-icons {
	display:flex;
	justify-content: space-around;
	text-align:center;

}
.l-list-contact {flex-direction: column; padding-top: 0.5rem;}
.l-contact-icons {
	display:block;
	padding-bottom: 0.5rem;
}

.l-list-items {
	display:flex;	
	text-align: left;
	margin-top: 2rem;
}
.l-items-date {width: 40%; padding-left: 1rem;}
.l-items-content {width:100%; padding-left: 1rem;}
.l-items-softskills { 
	padding-top: 2.5rem;
	justify-content: center; 
	text-align: center;
	font-weight: bold; 
	flex-wrap: wrap;
}
.l-softskills-content{
	margin-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	border-left: 1px #29B6F6 solid;
}

.l-aside-about {
	flex: 2;
}
.l-p-about {
	padding-left: 1rem;
	padding-right: 1rem;
	text-align: justify;
}
.l-main-section { margin: 3rem; }
.l-header-section {padding-bottom: 4rem;}

/*<------------------------------------------------------------------------>
<------------------                $module                   ------------------>
<------------------------------------------------------------------------->*/
.aside-title {
	color : #EFEBE9;
	background-color: #37474F;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	text-align: center;
}
.aside-icons {	color: #0277BD;}
.icons-circle {
	border : 1px  #0277BD solid;
	border-radius: 50%;
	padding: 0.7rem;
}

.nav-style {
	background-color: #37474F;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	flex-wrap: wrap;
}

.nav-items {
	color: #fff;
	text-decoration: none;
	font-size: 1.7vw;
}
.nav-items:hover {
	font-size: 1.7vw;
	font-weight: normal;
	text-decoration: underline;
}
.section-icons {
	color :#29B6F6;
	padding-left: 1rem;
	padding-right: 1rem;
}
.section-title {
	border-bottom: 1px #29B6F6 solid;
	padding-bottom:0.7rem;
}
.section-h { margin-top: 0; margin-bottom:0;}
	.section-header-h1
	{
		font-size: 6.5vw;
		
	}
	.section-header-h2 {font-size: 2.6vw;}
	.section-h3 {
		margin-top: 1rem;
		font-size: 1.95vw;
		font-weight: bold;
	}
	.section-h4 {
		font-size: 1.17vw;
		font-weight: normal;
		font-style: italic;
		color: #9E9E9E;
}

.disco-font {font-family:DiscoRegular;}
.size-icons-dot { font-size: 0.65vw; }
.color-title-content{ color: #A1887F; }
.list-title-style { font-style: italic; font-size: 1.17vw; }
.last-p-style { font-size: 1.43vw; margin-top: 0;}
/*<------------------------------------------------------------------------>
<------------------                $status                  ------------------>
<------------------------------------------------------------------------->*/
.is-hidden-md { display:none; }

/*<------------------------------------------------------------------------>
<------------------                $Others                  ------------------>
<------------------------------------------------------------------------->*/

@media only screen and (max-device-width: 767.98px) {

	/*<------------------------------------------------------------------------>
	<------------------                $base                   ------------------>
	<------------------------------------------------------------------------->*/


		body {flex-direction: column; width: 100%;}

		aside {
			width: 100%;
		}
		figure { width: 33.3333334%; }



	/*<------------------------------------------------------------------------>
	<------------------                $layouts                  ------------------>
	<------------------------------------------------------------------------->*/
	.l-aside-header-xs {
		width: 100%;
		display:flex; 
		flex-direction: row; 
		background-color: #EFEBE9;
		/*padding-bottom: 2rem; */
	}
	.l-aside-header-div {align-self: center;}
	.l-aside-contact-xs {margin-top: 0;}

	.l-main-section {margin: 0;}

	.l-list-items {display:block; /*padding-top: 1.3vw;*/}
	.l-items-date { width: 100%;}
	.l-list-icons { flex-wrap: wrap;}
	.l-list-icons-xs {/* padding-left: 1.3vw; padding-right: 1.3vw;*/}
	.last-p-style { margin-top: 0; }
	.section-title { 
		text-align: center;
	/* margin-left: 2rem;
	  	margin-right: 2rem;
	  	margin-top: 2rem; */
	  }

	/*<------------------------------------------------------------------------>
	<------------------                $module                   ------------------>
	<------------------------------------------------------------------------->*/
	.mark-xs{ background-color: #EFEBE9;}
	.last-div-color-xs{ background-color: #29B6F6;}

	.section-header-h1	{font-size: 3rem;}
	.section-header-h2 {font-size: 1.5rem;}
	.section-h3 { font-size: 1.4rem;}
	.section-h4 {font-size: 0.8rem;}
	.size-icons-dot { font-size: 0.7rem;}
	.list-title-style { font-size: 1.2rem;}
	.last-p-style { font-size: 1.1rem;}

	/*<------------------------------------------------------------------------>
	<------------------                $status                   ------------------>
	<------------------------------------------------------------------------->*/
		.is-hidden-xs { display: none;}
		.is-hidden-md { display:block;}

		/*<------------------------------------------------------------------------>
	<------------------                $others                   ------------------>
	<------------------------------------------------------------------------->*/
	}

	/* voir les MQ pour le layout sur mobile en vertical  :@ */
	/*Se renseigner sur le partage sur les réseaux sociaux */
	/*Git Github */
	/* Rebase de l'historique */


	/* h2 du header enlever le student Check~~~~~~~~~~~~~~~~~~*/
	/* couleur du prénom  Check~~~~~~~~~~~~~~~~~~~~~~~~*/
	/* expérience guitare à réduire */
	/* Compétences : mettre des mots clés pour les RH (sources : fiche ROM, voir les annonces */
	/* Réseau social : linkedin Check~~~~~~~~~~*/
	/* créer un menu de navigation Check~~~~*/


	/* Situation, Obstacle, Actions, Résultat 
	Présentation en 2mn */
	/*Préciser la disponibilité */
	/*comment je gere un projet ?
	collecter les exigences d'un client, proposer une solution, cahier des charges, devis, signature du contrat, faire des réunion fréquentes, */
