/*<------------------------------------------------------------------------>
<------------------                $base                   ------------------>
<------------------------------------------------------------------------->*/

@font-face 
{
    font-family: 'RobotoRegular';
    src: url('font/roboto_regular_macroman/Roboto-Regular-webfont.eot');
    src: url('font/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/roboto_regular_macroman/Roboto-Regular-webfont.woff2') format('woff2'),
         url('font/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'),
         url('font/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'),
         url('font/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
	font-family: 'RobotoThin';
    src: url('font/roboto_thin_regular/Roboto-Thin-webfont.eot');
    src: url('font/roboto_thin_regular/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/roboto_thin_regular/Roboto-Thin-webfont.woff2') format('woff2'),
         url('font/roboto_thin_regular/Roboto-Thin-webfont.woff') format('woff'),
         url('font/roboto_thin_regular/Roboto-Thin-webfont.ttf') format('truetype'),
         url('font/roboto_thin_regular/Roboto-Thin-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DiscoRegular';
    src: url('font/disco_regular_macroman/DISCO___-webfont.eot');
    src: url('font/disco_regular_macroman/DISCO___-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/disco_regular_macroman/DISCO___-webfont.woff2') format('woff2'),
         url('font/disco_regular_macroman/DISCO___-webfont.woff') format('woff'),
         url('font/disco_regular_macroman/DISCO___-webfont.ttf') format('truetype'),
         url('font/disco_regular_macroman/DISCO___-webfont.svg#discoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
	font-family: RobotoRegular, Arial, sans-serif;
	margin: 0;
	background-color: #EFEBE9;
	color: #37474F;
	display: flex;
	white-space: initial;
}

aside {
	width:33.3333333334%;
	background-color: #29B6F6;
	display:flex;
	flex-direction: column;
}

a {color: #37474F;}
a:hover {font-weight: bold;}

h1,h2,h3 {font-family: RobotoThin, Arial, sans-serif;}
h4 {padding-top: 0.5rem; padding-bottom: 0.5rem;}

strong {color:  #29B6F6;}
mark {
	background-color: #EFEBE9;
	border-bottom: 1px #29B6F6 solid;
	color: #37474F;
}

img {
	width: 100%;
	height:auto;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

section {width:100%;}

ul {	
	list-style: none; 
	padding: 0;
}

/*<------------------------------------------------------------------------>
<------------------                $layout                   ------------------>
<------------------------------------------------------------------------->*/
.l-list-icons {
	display:flex;
	justify-content: space-around;
	text-align:center;
	flex-wrap: wrap;
}

.l-list-contact {
	padding-left: 2rem;
	padding-top: 0.5rem;
}
.l-contact-icons {
	display:block;
	padding-bottom: 0.5rem;
}

.l-list-items {
	display:flex;	
	text-align: left;
	margin-top: 2rem;
}
.l-items-date {
	width: 40%;
	padding-left: 1rem;
}
.l-items-content {
	width:100%;
	padding-left: 1rem;
}

.l-section-icons {
	color: #29B6F6;
	padding-left: 1rem;
	padding-right: 1rem;
}
.l-section-title {
	border-bottom: 1px #29B6F6 solid;
	padding-bottom:0.7rem;
}
.l-section-h {
	margin-top: 0;
	margin-bottom: 0;
}

.l-softskills-list { 
	padding-top: 2.5rem;
	justify-content: center; 
	text-align: center;
	font-weight: bold; 
	flex-wrap: wrap;
}
.l-softskills-content{
	margin-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	border-left: 1px #29B6F6 solid;
}

.l-aside-about {
	flex: 2;
}
.l-p-about {
	padding-left: 2rem;
	padding-right: 2rem;
	text-align: justify;
}
.l-main-section {margin: 3rem;}
.l-header-section {padding-bottom: 4rem;}

/*<------------------------------------------------------------------------>
<------------------                $module                   ------------------>
<------------------------------------------------------------------------->*/
.aside-title {
	color: #EFEBE9;
	background-color: #37474F;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	text-align: center;
}
.aside-icons {color: #0277BD;}

.icons-circle {
	border: 1px #0277BD solid;
	border-radius: 50%;
	padding: 0.7rem;
}

.nav-style {
	background-color: #37474F;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	border: 5px #D7CCC8 solid;
}
.nav-items {
	color: #fff;
	text-decoration: none;
	font-size: 1.7vw;
}
	.nav-items:hover {
		font-size: 1.7vw;
		font-weight: normal;
		text-decoration: underline;
	}

.l-creation {
	padding-left: 2rem;
	margin-right: 2rem;
	list-style: initial;

	text-align: justify;
}

.section-header-h1{font-size: 6.5vw;}
.section-header-h2 {font-size: 2.6vw;}

.section-h3 {
	color: #A1887F;
	margin-top: 1rem;
	font-size: 1.95vw;
	font-weight: bold;
	width: 95%;
}
.section-h4 {
	font-size: 1.17vw;
	font-weight: normal;
	font-style: italic;
	color: #9E9E9E;
}

.disco-font {font-family: DiscoRegular;}
.size-icons-dot {font-size: 0.65vw;}
.list-title-style {
	font-style: italic;
	font-size: 1.17vw;
}
.last-p-style {
	font-size: 1.43vw;
	margin-top: 0;
}
/*<------------------------------------------------------------------------>
<------------------                $status                  ------------------>
<------------------------------------------------------------------------->*/
.is-hidden-md {display: none;}

/*<------------------------------------------------------------------------>
<------------------                $Others                  ------------------>
<------------------------------------------------------------------------->*/

@media  (max-device-width: 767.98px), /*phone */
 		(min-device-width:991px) and (max-width: 767.98px) /*windows resizing under 768px on desktop*/
		{ 
	/*<------------------------------------------------------------------------>
	<------------------                $base                   ------------------>
	<------------------------------------------------------------------------->*/
		body {
			flex-direction: column;
			width: 100%;
		}

		aside {width: 100%;}

		section {width: auto;}

		h4 {padding: 0;}

		figure {width: 33.3333334%;}

	/*<------------------------------------------------------------------------>
	<------------------                $layouts                  ------------------>
	<------------------------------------------------------------------------->*/
	.l-aside-header-xs {
		width: 100%;
		display: flex; 
		background-color: #EFEBE9;
	}
	.l-aside-header-div {align-self: center;}
	.l-aside-contact-xs {margin-top: 0;}

	.l-main-section {margin: 0;}
	.l-main-section-xs {
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.l-list-items {display: block;}
	.l-items-date {width: 100%;}

	.last-p-style {
		padding-right: 3rem;
		font-size: 1.1rem;
		text-align: justify;
	}
	
	.l-softskills-content {border: none;}
	.l-recommandations-xs {text-align: center;}

	.l-p-about {
		padding-left: 3rem;
		padding-right: 3rem;
	}
	/*<------------------------------------------------------------------------>
	<------------------                $module                   ------------------>
	<------------------------------------------------------------------------->*/
	.mark-xs{background-color: #EFEBE9;}
	.last-div-color-xs{background-color: #29B6F6;}

	.l-section-title { 
		text-align: center;
		margin-left: 2rem;
		margin-right: 2rem;
	}
	.section-header-h2 {font-size: 3.9vw;}
	.section-h3 {font-size: 1.4rem;}
	.section-h4 {font-size: 0.8rem;}

	/*<------------------------------------------------------------------------>
	<------------------                $status                   ------------------>
	<------------------------------------------------------------------------->*/
	.is-hidden-xs {display: none;}
	.is-hidden-md {display:block;}
	

	/*<------------------------------------------------------------------------>
	<------------------                $others                   ------------------>
	<------------------------------------------------------------------------->*/
}
		@media (max-device-width: 767.98px) {

			a:hover {font-size: 2rem;}

			.l-hardskills-items-xs {
				padding-left: 2rem;
				padding-right: 2rem;
			}

			.l-dot-xs {
				margin-top: 2rem;
			}

			.l-section-title {margin-top: 4rem;}
			.l-section-icons {
				padding-left: 2rem;
				padding-right: 2rem;
			}

			.l-items-date {padding-left: 2rem;}
			.l-items-content{padding-left: 2rem;}

			.nav-items {font-size: 2rem;}
				.nav-items:hover {font-size: 2rem;}

			.list-title-style {font-size: 2rem;}

			.disponibilite-xs { font-size: 2.2vw; }

			.size-icons-dot {font-size: 1rem;}

			.hardskills-hobbies-xs {font-size: 2rem;}

			.contact-xs {font-size: 2rem;}
			.l-contact-xs { text-align: center; }

		}

		@media (min-device-width:991px) and (max-width: 767.98px) /*windows resizing under 768px on desktop*/{
			
			a:hover {font-size: 1rem;}

			.l-hardskills-items-xs {
				padding-left: 1rem;
				padding-right: 1rem;
			}

			.l-section-title {margin-top: 2rem;}
			.l-contact-xs {text-align: center;}

		  	.nav-items {font-size: 0.8rem;}
				.nav-items:hover {font-size: 0.8rem;}

			.size-icons-dot {font-size: 0.7rem;}

			.hardskills-hobbies-xs {font-size: 1rem;}

			.list-title-style {font-size: 1.2rem;}

			.is-hidden-xs {display: none;}
			.is-hidden-md {display: block;}			
		}
	


	/* Situation, Obstacle, Actions, Résultat 
	Présentation en 2mn */
	/*Préciser la disponibilité */
	/*comment je gere un projet ?
	collecter les exigences d'un client, proposer une solution, cahier des charges, devis, signature du contrat, faire des réunion fréquentes, */
