@mixin bordertest {
	border: 1px black solid;
}

@mixin main-style {
	background: $colour-primary;
	color: $colour-secondary;
	padding-top: 0.1vw;
    padding-bottom: 0.1vw;
}

@mixin menu-details {
	display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 750px;
    >.menus__card {
        width:100%;
        margin: 0;
    }
}

@mixin zoom-menu { 
	transition: all 1s;
}