@import "../Utils/variables";
@import "../Utils/mixins";
@import "../Base/base";
@import "../Components/animations";
@import url('https://fonts.googleapis.com/css?family=Cookie&display=swap'); /*font-family: cookie (papilles/gout)*/

.papilles {
    background: map-get($colour-card, papilles);
    @include menu-details;
}
.menus {
    padding: 6.5vw; /*vw for responsive padding*/
    text-align: center;
    &__card {
        width:90%;
        height: auto;
        margin: 0;
        padding: 3.9vw;
        padding-bottom: 6vw;
        text-align: center;
        box-shadow: 0 0 1rem #ededed;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
}
.font {
    font-weight: normal;
    &__title {   
        &--papilles {
            font-family: 'cookie';
            font-weight: normal;
            font-style: italic;
            font-size: 10vw;
            background: -webkit-linear-gradient(-80deg, map-get($colour-text-papilles, first) 0%,map-get($colour-text-papilles, secund) 50%, map-get($colour-text-papilles, third) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
tr {
    height: 3rem;
}
.font {
    &__table {
		&--papilles {
		font-size: 1.7vw;
        font-family: "Segoe Print";
        margin-bottom: 11rem;
        @media (min-device-width:991px) and (max-device-width:1280px) and (max-width:991px), (max-device-width:991px) {
            margin: 0;
            font-size: 2.4vw;
        }
		}
	}
}
.table {
    &__part {
        height: 10rem;
        vertical-align: bottom;
        font-size: 2vw;
    }  
    &__cell {
        &--th {
            border:1px black solid;
            
        }
        &--left {
            text-align: left;
            padding-left: 5rem;
            @media (min-device-width:991px) and (max-device-width:1280px) and (max-width:991px), (max-device-width:991px) {
                padding-left: 1rem;
                padding-right: 10vw;
			}
        }
        &--right {
            text-align: right;
            font-weight: bold;
            padding-right: 5rem;
            @media (min-device-width:991px) and (max-device-width:1280px) and (max-width:991px), (max-device-width:991px) {
				padding-right: 1rem;
			}

        }
    }
}

.double-line--first {
    height:10%;   
    background: linear-gradient(to right, map-get($colour-text-papilles, first), map-get($colour-card, papilles), map-get($colour-card, papilles), map-get($colour-text-papilles, first)) no-repeat center;
            background-size:90vw 5px;
}



.double-line--secund {
    height:10%;   
    background: linear-gradient(to right, map-get($colour-text-papilles, secund), map-get($colour-card, papilles), map-get($colour-card, papilles),map-get($colour-text-papilles, secund)) no-repeat center;
            background-size:90vw 5px;
    }

.double-line--third {
    height:10%;   
    background: linear-gradient(to right, map-get($colour-text-papilles, third), map-get($colour-card, papilles), map-get($colour-card, papilles), map-get($colour-text-papilles, third)) no-repeat center;
            background-size:90vw 5px;
}

.anim-underline-first {
    background: linear-gradient(to top, map-get($colour-text-papilles, first) 0%, map-get($colour-text-papilles, first) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
}

.anim-underline-secund {
    background: linear-gradient(to top, map-get($colour-text-papilles, secund) 0%, map-get($colour-text-papilles, secund) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
}

.anim-underline-third {
    background: linear-gradient(to top, map-get($colour-text-papilles, third) 0%, map-get($colour-text-papilles, third) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
}