@import "../Utils/variables";
@import "../Utils/mixins";
@import "../Base/base";
@import "../Components/animations";
@import url('https://fonts.googleapis.com/css?family=Croissant+One&display=swap'); /*font-family: 'Croissant One' (alafrancaise), Menu Cambria*/

.alafrancaise {
    background: map-get($colour-card, alafrancaise);
    @include menu-details;
}
    
.menus {
    padding: 6.5vw; /*vw for responsive padding*/
    text-align: center;
    &__card {
        width:90%;
        height: auto;
        margin: 0;
        padding: 3.9vw;
        text-align: center;
        box-shadow: 0 0 1rem #ededed;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
}

.font {
    font-weight: normal;
    &__title{
        &--alafrancaise {
            font-size: 3vw;
            font-family: 'Croissant One';
            background: -webkit-linear-gradient(-80deg, map-get($colour-text-alafrancaise, first-title) 0%,map-get($colour-text-alafrancaise, secund) 50%, map-get($colour-text-alafrancaise, last-title) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }            
    }
}

tr {
    height: 3rem;
}

.font {
    &__table {
		&--alafrancaise {
			font-size: 2.05vw;
            font-family: Cambria;
            margin-bottom: 15rem;
            @media (min-device-width:991px) and (max-device-width:1280px) and (max-width:991px), (max-device-width:991px) {
                margin: 0;
                font-size: 2.5vw;
                margin-bottom: 10rem;
                @media (max-width:768px) {
                    margin-bottom: 5rem;
                }
            }
		}
	}
	&__color {
		&--alafrancaise {
			&-first {
				color: map-get($colour-text-alafrancaise, first);
			}
			&-secund {
				color: map-get($colour-text-alafrancaise, secund);
			}
			&-third {
				color: map-get($colour-text-alafrancaise, third);
			}
		}
    }
}

.table {
    &__part {
        height: 10rem;
        vertical-align: bottom;
    }  
    &__cell {
        &--left {
            text-align: left;
            padding-left: 5rem;
            @media (min-device-width:991px) and (max-device-width:1280px) and (max-width:991px), (max-device-width:991px) {
                padding-left: 1.3vw;
                padding-right: 4rem;
            }
        }
        &--right {
            text-align: right;
            font-weight: bold;
            padding-right: 5rem;
            @media (min-device-width:991px) and (max-device-width:1280px) and (max-width:991px), (max-device-width:991px) {
                padding-right: 1.3vw;
            }
        }
    }
}

.double-line--first {
    height:10%;   
    background: linear-gradient(to right, map-get($colour-text-alafrancaise, first-title), map-get($colour-card, alafrancaise), map-get($colour-card, alafrancaise), map-get($colour-text-alafrancaise, first-title)) no-repeat center;
    background-size:90vw 5px;
}

.double-line--secund {
    height:10%;   
    background: linear-gradient(to right, map-get($colour-text-alafrancaise, secund), map-get($colour-card, alafrancaise), map-get($colour-card, alafrancaise), map-get($colour-text-alafrancaise, secund)) no-repeat center;
    background-size:90vw 5px;
}

.double-line--third {
    height:10%;   
    background: linear-gradient(to right, map-get($colour-text-alafrancaise, third), map-get($colour-card, alafrancaise), map-get($colour-card, alafrancaise), map-get($colour-text-alafrancaise, third)) no-repeat center;
    background-size:90vw 5px;
}
.anim-underline-first {
    background: linear-gradient(to top, map-get($colour-text-alafrancaise, first-title) 0%, map-get($colour-text-alafrancaise, first-title) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
}

.anim-underline-secund {
    background: linear-gradient(to top, map-get($colour-text-alafrancaise, secund) 0%, map-get($colour-text-alafrancaise, secund) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
}

.anim-underline-third {
    background: linear-gradient(to top, map-get($colour-text-alafrancaise, third) 0%, map-get($colour-text-alafrancaise, third) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
}