@import "../Utils/variables";
@import "../Utils/mixins";
@import "../Base/base";
@import "../Components/animations";
@import url('https://fonts.googleapis.com/css?family=Devonshire&display=swap'); /*font-family: devonshire (enchantee), menu segoe print*/

img {
	display:inline-block;
	max-width: 9%;
    max-height: auto;
    vertical-align: middle;
}

.img {
    max-width: 12%;
}
h2 > span { vertical-align: middle;}

.enchantee{
    background: map-get($colour-card,enchantee);
    @include menu-details;
    margin: 0; 
    }
    
.menus {
    padding: 6.5vw; /*vw for responsive padding*/
    text-align: center;
    &__card {
        width:90%;
        height: auto;
        margin: 0;
        padding: 3.9vw;
        padding-bottom: 6vw;
        text-align: center;
        box-shadow: 0 0 1rem #dad8d8;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
}

    .font {
        font-weight: normal;
        font-family: "arial black";
        &__title{
            &--enchantee {
            font-family: 'Devonshire';
            font-size: 4vw;
            margin: 0;
                &-last {
                    display: block;
                    padding: 5rem 1rem;
                }
            }    
        }
    }

tr {
    height: 3rem;
}

.font {
    &__table {
		&--enchantee {
		font-size: 1.7vw;
        font-family: "Segoe Print";
        margin: 1rem 3rem;
        @media (min-device-width:991px) and (max-device-width:1280px) and (max-width:991px), (max-device-width:991px) {
            margin: 0;
            font-size: 2.4vw;
        }
		}
		&--title {
			font-size: 2.8vw;
			font-weight:bold;
		}
    }
}

.table {
    &__part {
        height: 10rem;
        vertical-align: bottom;
    }  
    &__cell {
        &--left {
            text-align: left;
            @media (min-device-width:991px) and (max-device-width:1280px) and (max-width:991px), (max-device-width:991px)  {
				padding-right: 10vw;
            }
            
        }
        &--right {
            text-align: right;
            font-weight: bold;
        }
    }
}

.double-line {
    height:10%;   
    background: linear-gradient(to right, #000,#000, #000,map-get($colour-card, enchantee),map-get($colour-card, enchantee), map-get($colour-card, enchantee), map-get($colour-card, enchantee), #000, #000, #000) no-repeat center;
    background-size:90vw 5px;
}
