@import "./partials/Utils/variables";
@import "./partials/Utils/mixins";
@import "./partials/Components/animations";
@import "./partials/Base/base";
@import "./partials/Layouts/responsive";

@import url('https://fonts.googleapis.com/css?family=Devonshire&display=swap'); /*font-family: devonshire (enchantee), menu segoe print*/
@import url('https://fonts.googleapis.com/css?family=Croissant+One&display=swap'); /*font-family: 'Croissant One' (alafrancaise), Menu Cambria*/
@import url('https://fonts.googleapis.com/css?family=Cookie&display=swap'); /*font-family: cookie (papilles)*/
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap'); /*font-family: Kaushan script (gout) */

.menus {
	padding: 2.6vw 3.9vw;
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
	font-size:3.5vw;
	@media (min-device-width:1200px) and (orientation: landscape) {
		margin-bottom: 8vw;
	}
	&__card {
		width:40%;
		height: 750px;
		margin: 1rem;
		padding:1vw;
		text-align: center;
		box-shadow: 0 0 1rem #dad8d8;
		display:flex;
		flex-direction: column;
		justify-content: center;
		@media (min-device-width: 992px) and (orientation: landscape) {
			width: 20%;
			height: 25vw;
		}
		@media (min-device-width:1280px) and (orientation: portrait) {
			height: 60%;
		}
		/*@media (min-device-width: 991px) and (max-width: 991px) {
			width : 90%;
			height : 350px;
		}*/
		&--orange {
			background: map-get($colour-card, enchantee);
		}
		&--pink {
			background: map-get($colour-card, alafrancaise);
		}
		&--blue {
			background: map-get($colour-card, papilles);
		}
		&--green {
			background: map-get($colour-card, gout);
		}
	}
}

.font {
	font-weight: normal;
	&__title{
		margin: 0;
		&--enchantee {
			font-family: 'Devonshire';
			font-size: 3vw;
		}
		&--alafrancaise {
			font-size: 2vw;
			font-family: 'Croissant One';
			background: -webkit-linear-gradient(-80deg, map-get($colour-text-alafrancaise, first-title) 0%,map-get($colour-text-alafrancaise, secund) 50%, map-get($colour-text-alafrancaise, last-title) 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			@media (min-device-width:991px) and (max-device-width:1280px) and (max-width:991px) {
					font-size: 2vw;
				}
			}
		
		&--papilles {
			font-family: 'cookie';
			font-weight: normal;
			font-size: 3vw;
			background: -webkit-linear-gradient(-80deg, map-get($colour-text-papilles, first) 0%,map-get($colour-text-papilles, secund) 50%, map-get($colour-text-papilles, third) 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			
			@media (min-device-width:991px) and (max-device-width:1280px) and (max-width:991px) {
				font-size: 4.5vw;
			}
		}
		&--gout {
			font-family: 'kaushan script';
			font-weight: normal;
			font-size: 2.5vw;
			background: -webkit-linear-gradient(-80deg, map-get($colour-text-gout, first) 0%,map-get($colour-text-gout, secund) 50%, map-get($colour-text-gout, third) 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			@media (min-device-width:991px) and (max-device-width:1280px) and (max-width:991px) {
				font-size: 4.5vw;
			}
		}
	}
	&__subtitle {
		font-size:2vw;
		&--enchantee {
			font-family:'Segoe Print';
			font-weight: bold;
			margin-top: 1rem;
		}
		&--alafrancaise {
			font-family:'Cambria';
			font-weight: bold;
			color: map-get($colour-text-alafrancaise, first);
		}
		&--papilles {
			font-family:'Segoe Print';
			color: map-get($colour-text-papilles, third);
		}
		&--gout {
			font-family: "Segoe Print";
			color: map-get($colour-text-gout, first);

		}
	}
}
.zoom__menu {
	&--enchantee,&--alafrancaise,&--papilles,&--gout {
		@include zoom-menu;
	}
}

.btn {
	&--soon {
	width: 45%;
	@include main-style;
	border-radius: 15px;
	font-size: 4vw;
	padding: 0.8rem;
	margin: 2.6vw;
	border: none;
	@media (min-device-width: 992px) and (orientation: landscape) {
		width: 25%;
		font-size: 2vw;
				
	}
	@media (min-device-width:991px) and (max-device-width:1200px) {
		width: 25%;
		font-size: 2vw;
		margin: 1rem;
		@media (max-width:991px) {
			font-size: 3vw;
			width: 35%;
		}
		@media (max-width:768px) 
			{
				font-size: 3vw;
				width:40%;
			}
	}
	}
	&__dot {
		height: 25px;
		width: 25px;
		background-color: #fdcb46;
		border-radius: 50%;
		display: inline-block;
		margin: 10px;
		@media (min-device-width: 992px) and (orientation: landscape) {
			height:20px;
			width:20px;
		}

		@media (min-device-width:991px) and (max-device-width:1280px) {
			height: 15px;
			width: 15px;
			@media (max-width:991px) 
			{
				height:7px;
				width:7px;
			}
		}
	}
}