body {
	margin: 0;
	font-family: arial, sans-serif;
	font-size: 4vw;
}
a { 
	display:block;
	color: #000;
	text-decoration: none;
}

img {
	display:inline-block;
	max-width: 15%;
    max-height: auto;
}

th { 
    padding-top: 2rem;
    padding-bottom: 2rem;
}
td {
    padding-top: 1rem;
}

.header {
	@include main-style;
    text-align: center;
    @media (min-device-width:991px) and (max-device-width:1280px) {
        font-size:3vw;
    }
}

.footer {
    @include main-style;
    position:fixed;
    width: 100%;
    bottom:0;
	&__list {
		padding-left: 20px;
		padding-right: 20px;
		display:flex;
		justify-content: space-between;
		list-style:none;
        font-size: 4vw;
        @media (min-device-width:991px) and (max-device-width:1280px) {
            font-size: 2vw;
            @media (max-width:991px) {
                font-size: 3vw;
            }
        }
        a {
            color: $colour-secondary;
            animation: btn--shake 5s infinite;
        }
    }
    @media (min-device-width:991px) and (max-device-width:1280px) {
        padding: 0;
    }
}